header{
	background-color: #E67919;
	padding: 2px;
	background-image: url(background-header-texture.png);
	text-align: center;
}
nav{
	width: 180px;
	height: 100%;
	background-color: #F0974A;
	float: left;
	line-height: 30px;
}
body{
	background-color: #FF6600;
	background-image: url(background-texture.png);
	margin: 0px;
	height: 100%;
}
p{
	margin: 0;
}
h1{
	color: yellow;
	margin: 0;
}
h2,h3,h4,h5,h6{
	color: #ede321;
	margin: 0;
}
hr{
	color: white;
}
ol,ul{
	color: yellow;
}
ol p, ul p{
	color: white;
}
li h2,li h3,li h4,li h5,li h6{
	color: #FFF582;
}
a{
	color: white;
}
legend{
	color: black;
}
pre{
	background-color: white;
	color: orange;
	border-style: solid;
	border-color: red;
	border-width: 2px;
	text-shadow: 3px 3px 10px black;
}
.texto{
	background-color: white;
	color: black;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	text-align: justify;
}
.texto p{
	color: black;
}
#comImagem{
	background-size: contain;
	background-image: url(geiser.jpg);
}
.yellowstone{
	color: white;
	font-size: 64;
	background-image: url(geiser.jpg);
	height: 250px;
	background-position: center top;
	background-size: 100% 400px;
	margin: 0;
}